.tooltipContentWrapper {
  max-height: 600px;
  overflow-y: auto;
  padding: 0 20px;
  background: #f8f9fa;
}

.draggable {
  cursor: move;
  width: 700px;
  font-weight: 600;
}

.labelRow {
  align-items: center;
  display: flex;
  margin-left: 15px;
}

.learnMore {
  padding: 15px 15px 0 15px;
  display: flex;
  align-items: center;
  background: #f8f9fa;
}

.noTooltips {
  padding: 20px;
}

.learnMoreText {
  margin-left: 10px;
}

.searchInput {
  width: 250px;
  height: 32px;
  padding-left: 8px;
}

.editorHeadingRow {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.tooltipEditRow {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.bold {
  font-weight: bold !important;
}

.tooltipIdLabelHeading {
  font-weight: 500;
  width: 220px;
}

.tooltipIdLabel {
  font-weight: 500;
  width: 220px;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    font-weight: bold !important;
  }
}

.tooltipContentLabel {
  width: 550px;
}

.emptyTooltipContent {
  color: red !important;
  cursor: pointer !important;

  &:hover {
    font-weight: bold !important;
  }
}

.editIcon {
  cursor: pointer;
  margin-left: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid grey;
}

.secondButton {
  margin-left: 10px;
}

.closeButton {
  cursor: pointer !important;
  padding: 0 10px !important;
}

.previewTooltipWrapper {
  margin: 0;

  :global {
    .bp3-popover-content {
      padding: 0;
    }
  }
}

.previewTooltipContentWrapper {
  margin: 0;
  padding: 10px;
  height: 100%;
  max-width: 400px;

  p {
    margin: 0 !important;
  }
}

.ngTooltipEditorRoot {
  position: absolute;
  width: 1024px;
  top: 100px;
  right: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 4px 8px rgba(16, 22, 26, 0.2),
    0 18px 46px 6px rgba(16, 22, 26, 0.2);
  background: white;
  z-index: 200;
}

.previewLabel {
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;
  color: #106ba2;
}

.updateContext {
  margin-left: 15px;
}
